@font-face {
    font-family: 'Poppins';
    src: local('Poppins');
    font-display: swap;
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 24px;
    background: lightcyan;
    border-radius: 8px;
    border: 1px solid black;
}

button:hover {
    background: azure;
}

button:active {
    padding: 17px 23px 15px 25px;
}
